extends layout

block content
	img(class='image', src='images/camportrait.png')
	h1.project-title#About About

	hr
	br
	div.text-outer
		div.text-inner
			h4.text-primary I make custom web apps and sites using Javascript, NodeJS/Express, KeystoneJS, Socket.IO, ReactJS, AngularJS,  Bootstrap, and MongoDB.
			hr
			br
	div.text-outer
		div.text-inner
			br
			h1.project-title#Projects Projects
		hr

	a(href='http://www.wordsmith.es')
		h4.text-primary.project-title Wordsmith
		br
	div.text-outer
		div.text-inner
			p Wordsmith is a text game modeled after the barroom classic. No dollar bills required. Play against the computer or other human players online.
			a(href='http://www.wordsmith.es')
				img(class='image', src='/images/wsblue.png')
			hr
			br

	a(href='http://partyhq.wordsmith.es')
		h4.text-primary.project-title Party Headquarters
		br
	div.text.outer
		div.text-inner
			p Party Headquarters Recording homepage. 
			a(href='http://partyhq.wordsmith.es')
				img(class='image', src='/images/phqblue.png')
			hr
			br

	a(href='http://pastiche.wordsmith.es')
		h4.text-primary.project-title Pastiche
		br
	div.text.outer
		div.text-inner
			p Generates pseudo-random poems based on the styles of user-selected poets. 
			a(href='http://pastiche.wordsmith.es')
				img(class='image', src='/images/pasticheblue.png')
			hr
			br

	a(href='http://thebullfightertrading.com')
		h4.text-primary.project-title the Bullfighter
		br
	div.text.outer
		div.text-inner
			p Homepage of the Bullfighter Project. 
			a(href='http://thebullfightertrading.com')
				img(class='image', src='/images/bfblue.png')
			hr
			br

	a(href='http://www.roastir.com')
		h4.text-primary.project-title Roastir
		br
	div.text.outer
		div.text-inner
			p The world's next great social media site, based on the principles of freedom of speech and thought. Destroyer of groupthink.
			a(href='http://www.roastir.com')
				img(class='image', src='/images/roastirblue.png')
			hr
			br

	h1.project-title#Contact Contact
		a(href='mailto:cjsima@gmail.com?Subject=Castle%20Bravo%20Inquiry')
			h3.project-title Email Us
	br
	br

	a(href='#Top')
		h3.project-title Top

