body {
	font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

.image {
	display: block;
	margin: 0 auto;
	width: 717px;
}

.project-title {
	text-align: center;
}

.text-inner {
	width: 717px;
	margin: 0 auto;
	display: block;
}

.input-field {
	display: block;
	margin: 10px;
}

.navbar {
	border: none;
	font-size: 20px;
}

#header_title {
	font-size: 26px;
}

h1 {
	color: #FF8B38;
}

p {
	font-size: 18px;
}

@media (max-width: 767px) {

	.image {
		width: 100%;
	}

	.text-inner {
		width: 100%;
	}
}